.ShopItem {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 80px;
	background-color: #f5f5f5;
	margin-bottom: 2px;
	align-items: center;
	justify-items: center;
}

.ShopItem-Title {
	font-size: 20px;
	text-transform: uppercase;
}

.ShopItem-Subtitle {
	font-size: 12px;
}

.ShopItem-Img {
	height: 100%;
}

.ShopItem-Price {
	color: red;
}

.ShopItem-Button {
	height: 30px;
	border: 1px solid red;
	border-radius: 15px;
	color: red;
	text-transform: uppercase;
}
