.CardsView {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 100px;
	grid-row-gap: 30px;
}

.ShopCard {
	position: relative;
}

.ShopCard-Img {
	width: 100%;
}

.ShopCard-Header {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	font-size: 10px;
	text-transform: uppercase;
}

.ShopCard-Subtitle {
	text-align: center;
}

.ShopCard-Img {
	border-radius: 5px;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.ShopCard-price {
	position: absolute;
	bottom: 20px;
	left: 20px;
	color: red;
}

.ShopCard-button {
	position: absolute;
	bottom: 20px;
	right: 20px;
	padding: 5px;
	border: 1px solid red;
	border-radius: 20px;
	color: red;
	text-transform: uppercase;
}
